<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccountingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccountingSystem.styles.css" asp-append-version="true" />
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        /* Custom CSS for fancy navbar */
     
            .navbar-custom .navbar-brand,
            .navbar-custom .nav-link {
                color: #ffffff;
            }

                .navbar-custom .nav-link:hover {
                    color: #ff8c00;
                }

            .navbar-custom .dropdown-menu {
                background-color: #343a40;
                border-color: #ff8c00;
            }

            .navbar-custom .dropdown-item {
                color: #ffffff;
            }

                .navbar-custom .dropdown-item:hover {
                    background-color: #ff8c00;
                    color: #ffffff;
                }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AccountingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Required Js -->
    <script src="assets/js/vendor-all.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <script src="assets/js/pcoded.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
